// Navigation Styles here

.nav {
    margin: 30px 0;
    padding: 20px 20px 20px 0;
    display: flex;
    justify-content: space-between;
    .borders();

    


    a {
        margin-left: 20px;
        font-size: 1.8rem;
        text-decoration: none;
        color: @font-color;
    }
}